{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Shopping Bag{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-5">
    <hr>
    <h2>Shopping Bag</h2>
    <hr>

    {% if bag_items %}
    <div class="row">
        <div class="col-md-8 col-lg-6 offset-lg-1">
            {% for item in bag_items %}
            <div class="card mb-3 bg-orange shopping_bag_card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <!-- Product Image -->
                        {% if item.product.image %}
                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                            onerror="this.onerror=null;this.src='{{ STATIC_URL }}media/cwtch_in_the_valley.png'">
                        {% else %}
                        <img class="img-fluid" src="{% static 'media/cwtch_in_the_valley.png' %}"
                            alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                    <h5 class="product-title">{{ item.product.name }}</h5>
                                    <form class="form update-form" method="POST" action="{% url 'update_bag' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group input-group-{{ item.item_id }}">
                                                <div class="input-group-prepend">
                                                    <button
                                                        class="decrement-qty bg-grey btn-sm text-white weight-bold btn rounded-0 decrement-qty_{{ item.item_id }}"
                                                        data-item_id="{{ item.item_id }}"
                                                        aria-label="Decrease Quantity">
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </button>
                                                </div>
                                                <input
                                                    class="form-control form-control-sm qty_input font-body weight-semibold id_qty_{{ item.item_id }}"
                                                    type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                                    max="99" data-item_id="{{ item.item_id }}" aria-label="Quantity">
                                                <div class="input-group-append">
                                                    <button
                                                        class="increment-qty bg-grey btn-sm text-white weight-bold btn rounded-0 increment-qty_{{ item.item_id }}"
                                                        data-item_id="{{ item.item_id }}"
                                                        aria-label="Increase Quantity">
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Error message placeholder -->
                                        <span class="error-message"></span>
                                        <!-- Add a hidden input field to identify the item -->
                                        <input type="hidden" name="item_id" value="{{ item.item_id }}">
                                    </form>

                                    <p class="card-text text-grey">Quantity: {{ item.quantity }}</p>
                                    <p class="card-text text-grey">Total Price: £{{ item.lineitem_total}}</p>
                                </div>
                                <a class="remove-item text-grey" data-id="remove_{{ item.item_id }}"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-grey">
                    <h5 class="card-title text-white">Summary</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-grey">
                            Products
                            <span>£{{ grand_total|floatformat:2  }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0 text-grey">
                            Shipping
                            <span>{% if delivery == 0 %}FREE{% else %}{{ delivery|floatformat:2  }}{% endif %}</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3 text-grey">
                            <div>
                                <strong>Total amount</strong>
                                <p class="mb-0">(including VAT)</p>
                            </div>
                            <span><strong> £{{ grand_total|floatformat:2  }}</strong></span>
                        </li>
                    </ul>

                    <a href="{% url 'checkout' %}" class="btn w-100 btn-lg btn-cta rounded-pill text-grey mb-2">
                        Checkout
                    </a>

                    <a href="{% url 'products' %}" class="btn w-100 btn-outline-cta rounded-pill">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-grey">Keep Shopping</span>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <p>Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn w-100 btn-outline-cta rounded-pill">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-grey">Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Quantity Input JS -->
<script src="{% static 'products/js/quantity_input.js' %}"></script>
<script src="{% static 'bag/js/update_bag.js' %}"></script>
<script>
$(document).ready(function() {

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('data-id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
    });
</script>

{% endblock %}