{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Shopping Bag{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-5">
    <hr>
    <h2>Shopping Bag</h2>
    <hr>

    {% if bag_items %}
    <div class="row">
        <div class="col-md-8 col-lg-6 offset-lg-1">
            {% for item in bag_items %}
            <div class="card mb-3 bg-orange shopping_bag_card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <!-- Product Image -->
                        {% if item.product.image %}
                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                            onerror="this.onerror=null;this.src='{{ STATIC_URL }}media/cwtch_in_the_valley.png'">
                        {% else %}
                        <img class="img-fluid" src="{% static 'media/cwtch_in_the_valley.png' %}"
                            alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                    <h5 class="product-title">{{ item.product.name }}</h5>
                                    <p class="card-text text-grey">Quantity: {{ item.quantity }}</p>
                                    <p class="card-text text-grey">Total Price: To add</p>
                                </div>
                                <form action="#" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn" aria-label="Remove item from cart">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-grey">
                    <h5 class="card-title text-white">Summary</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-grey">
                            Products
                            <span>£{{ grand_total }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0 text-grey">
                            Shipping
                            <span>{% if delivery == 0 %}FREE{% else %}{{ delivery }}{% endif %}</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3 text-grey">
                            <div>
                                <strong>Total amount</strong>
                                <p class="mb-0">(including VAT)</p>
                            </div>
                            <span><strong> £{{ grand_total }}</strong></span>
                        </li>
                    </ul>

                    <button type="button" class="btn w-100 btn-lg btn-cta rounded-pill text-grey">
                        Checkout
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <p>Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}