{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Shopping Bag{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container px-0 py-2">
    <hr>
    <h2>Checkout</h2>
    <hr>
</div>

<div class="container">
<div class="row">
    <div class="col-12 col-md-6 col-lg-5 offset-lg-1 order-1 px-0 px-md-2 py-3 py-md-0" >
        <div class="card mb-3 bg-light-grey">
            <div class="card-header">
                <h5 class="card-title text-grey">Order Summary ({{ product_count }})</h5>
            </div>
            <div class="card-body bg-white">
                {% for item in bag_items %}
                <div class="row g-0 mb-1">
                    <div class="col-2 text-center">
                        <!-- Product Image -->
                        {% if item.product.image %}
                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                            onerror="this.onerror=null;this.src='{{ STATIC_URL }}media/cwtch_in_the_valley.png'">
                        {% else %}
                        <img class="img-fluid" src="{% static 'media/cwtch_in_the_valley.png' %}"
                            alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-9 offset-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="product-title">{{ item.product.name }}</h5>
                                <p class="card-text text-grey">Quantity: {{ item.quantity }}</p>
                            </div>
                            <p class="card-text text-grey">Total Price: To add</p>
                        </div>
                    </div>
                </div>
                <hr class="text-pink my-1">
                {% endfor %}
            </div>
            <div class="card-footer bg-white" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-grey">
                        Products
                        <span>£{{ grand_total|floatformat:2 }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0 text-grey">
                        Shipping
                        <span>{% if delivery == 0 %}FREE{% else %}{{ delivery|floatformat:2 }}{% endif %}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 text-grey">
                        <div>
                            <strong>Total amount</strong>
                            <p class="mb-0 small">(including VAT)</p>
                        </div>
                        <span><strong> £{{ grand_total|floatformat:2 }}</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 bg-orange rounded-2 mb-3">
        <p class="text-grey">Please fill out the form below to complete your order</p>
        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            
            <!-- Section 1: Personal Information -->
            <fieldset class="mb-2">
                <legend class="text-grey header-font">Personal Information</legend>
                <div class="mb-3">
                    {{ order_form.full_name }}
                    {% for error in order_form.full_name.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    {{ order_form.email }}
                    {% for error in order_form.email.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            
            <!-- Section 2: Shipping Info -->
            <fieldset class="mb-2">
                <legend class="text-grey header-font">Shipping Information</legend>
                <div class="mb-3">
                    {{ order_form.phone_number }}
                    {% for error in order_form.phone_number.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    {{ order_form.street_address1 }}
                    {% for error in order_form.street_address1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    {{ order_form.street_address2 }}
                    {% for error in order_form.street_address2.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ order_form.town_or_city }}
                    {% for error in order_form.town_or_city.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ order_form.county}}
                    {% for error in order_form.county.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ order_form.postcode }}
                    {% for error in order_form.postcode.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ order_form.country }}
                    {% for error in order_form.country.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
         
            <!-- Section 3: Payment Details -->
            <fieldset class="mb-3">
                <legend class="text-grey header-font">Payment</legend>
                
                <!-- Stripe Card Input -->
                <div class="" id="card-element"></div>

                <!-- Form Errors -->
                <div class="error-message mt-1" id="card-errors" role="alert"></div>

                <!-- Client Secret - hidden element to pass to view -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">

            </fieldset>
        
            
            <button type="submit" class="btn btn-cta my-3 w-100 rounded-pill">Submit Order</button>
        </form>
    </div>


</div>
</div>
 <!-- Loading Animation -->
 <div id="loading-overlay">
    <div class="loading-spinner">
        <i class="text-pink fa-3x fas fa-spinner fa-spin-pulse"></i>
    </div>
    
</div>
{% endblock %}



{% block postloadjs %}

    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}