:root {
  --grey: #323232;
  --white: #fff;
  --pink: #ff69b4;
  --purple: #bea3fd;
  --blue: #87ceeb;
  --green: #a4d689;
  --orange: #FFB84D;
  --dark-orange: #FFA533;
  --light-orange: #ffdba6;
}

/* Text Colour Classes */

.text-grey {
  color: var(--grey);
}

.text-dark-grey {
  color: var(--dark-grey);
}

/* Background Colour Classes */

.bg-grey {
  background-color: var(--grey);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-orange {
  background-color: var(--light-orange);
}

.bg-clear {
  background: none;
}
/* Border colour classes */

.border-pink {
  border: 1px solid var(--pink)
}

/* Fonts, Sizes & Weights */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth"112.5;
}


/* buttons */

.btn-cta {
  background-color: var(--orange);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; 
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus {
  background: linear-gradient(45deg, var(--pink), var(--purple), var(--blue), var(--green), var(--orange));
  
}

.btn-search {
  position: relative;
  background-color: var(--pink) !important;
  border-radius: 50%;
  aspect-ratio: 1;
}

.btn-search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease; 
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease; 
  z-index: -1;
}

.btn-search:hover::before {
  opacity: 0.2;
}

.btn-search:hover {
  background-color: var(--pink) !important;
}

.btn-bath-bombs {
  color: var(--purple);
  border: 2px solid var(--purple);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; 
}

.btn-bath-bombs:hover,
.btn-bath-bombs:active,
.btn-bath-bombs:focus {
   background-color: var(--purple);
   color: var(--grey);
}

.btn-soaps {
  color: var(--blue);
  border: 2px solid var(--blue);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn-soaps:hover,
.btn-soaps:active,
.btn-soaps:focus {
   background-color: var(--blue);
   color: var(--grey);
}

.btn-shower-jellies {
  color: var(--green);
  border: 2px solid var(--green);
}

.btn-shower-jellies:hover,
.btn-shower-jellies:active,
.btn-shower-jellies:focus {
   background-color: var(--green);
   color: var(--grey);
   transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* Nav */

.logo {
  max-width: 70px;
}

.nav-link-item {
  text-align: end;
  color: var(--white);
}

.heart-background {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

/* /* Heart Css code form CSS Tricks  */
.heart {
  position: relative;
  display: inline-block;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: var(--pink);
  transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--pink);
  border-radius: 50%;
}

.heart:before {
  top: -10px;
  left: 0px;
}

.heart:after {
  top: 0;
  left: 10px;
  z-index: -1
}

.bag-icon {
  position: relative;
  top: -5px;
  left: 1px;
  transform: rotate(45deg);
  transition: color 0.3s ease; /* Smooth transition for color change */
  -moz-transition: color 0.3s ease; /* Firefox */
  -webkit-transition: color 0.3s ease; /* Safari and Chrome */
  -o-transition: color 0.3s ease;
}

.bag-icon i:hover {
  color: var(--white);
}

/* Navbar line apadted from my CI 1 project */
.navbar-toggler {
  position: relative;
  width:35px;
  height:35px;
  border: none;
  padding: 0;
  margin: 0;
  transition-timing-function: ease-in-out;
  z-index: 3;
}

.line-1, .line-3 {
  z-index: 98;
}

.toggler-icon {
  display: block;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: var(--white);
}

/* Animation for Toggle menu icon on click used from my CI1 project */
.navbar-toggler[aria-expanded="true"]  .line-1 {
    background-color: var(--pink);
    transform: translate(3px, 5px) rotate(45deg);
    transform-origin: center;
    transition-duration: .5s;  
}

.navbar-toggler[aria-expanded="true"] .line-2 {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .line-3 {
  background-color: var(--pink);
  transform: translate(3px, -3px) rotate(-45deg);
  transform-origin: center;
  transition-duration: .5s  
}

#mobileLoginMenu {
  right: -100%;
  left: auto;
}

#searchBarMobile {
  max-width: 450px;
}

/* Footer */ 

.contact-links:hover{
  text-decoration-color: var(--dark-orange) !important;
}

/* Footer */

.footer-social-icons a {
  display: inline-flex;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--dark-orange);
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.footer-social-icons a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--grey); 
}

.footer-social-icons a:hover {
  background-color: transparent; 
}

.footer-social-icons a:hover i {
  color: var(--dark-orange); 
}

/* base html */

.header-container{
  height: 168px;
}

/* Home Page */

.home-hero {
  width: 100vw;
  height: 501px;
  background-image: url('/static/media/cover_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Products Page */ 

.box-border-deselected {
  border: 1px solid var(--grey) !important;
}

.box-border-selected {
  border: 1px solid var(--dark-orange) !important;
}

.sort-select-wrapper {
  border-radius: 3px;
  overflow: hidden;
}

#sort-selector:focus-visible {
  outline: none !important;
}

#sort-selector {
  width: fit-content;
  height: 100%;
  padding: 5px 10px;
  border: none !important;
  background: var(--white);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  color: var(--grey)
}



/* Product cards */

.product-card {
  border: none;
}

.product-card .bg-clear {
  height: 150px;
}

.product-card-body {
  position: relative;
  top: -250px;
  padding-top: 100px;
  padding-bottom: 30px;

}

.product-img {
  position: relative;
  top: -150px;
  margin: auto;
  width: 80%;
  z-index: 100;
}

.product-card-footer {
  margin-top: -280px;
  z-index: 101;
  border: none;
  background: none;
}

.product-title {
  color: var(--grey);
  font-weight: 500;

}

/* Shopping Bag Page */

.shopping_bag_card{
border: none;
}

/* Media Queries */

@media (max-width: 992px) {
  .logo {
    max-width: 50px;
    /* Set max width to 100% for smaller screens */
  }

  .navbar-nav {
    max-width: 350px;
  }

  .header-container {
    height: 105px;
  }
}

@media (min-width: 575px) and (max-width: 767.99px) {
  .header-container {
    height: 139px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-container {
    height: 142px;
  }
}

@media (max-width: 295px) {
  .header-container {
    height: 129px;
  }
 
}