<!-- Lower Nav - Product Links -->
<div class="collapse navbar-collapse align-items-center" id="main-nav">
    <ul class="navbar-nav justify-content-center text-center w-100 mx-auto">

        <li class="nav-item m-1 my-lg-0">
            <a class="nav-link rounded-pill btn-bath-bombs" href="{% url 'products' %}?category=bath_bombs" aria-label="Bath Bombs">Bath Bombs</a>
        </li>

        <li class="nav-item m-1 my-lg-0">
            <a class="nav-link rounded-pill btn-soaps" href="{% url 'products' %}?category=soaps" aria-label="Soaps">Soaps</a>
        </li>

        <li class="nav-item m-1 my-lg-0">
            <a class="nav-link rounded-pill btn-shower-jellies" href="{% url 'products' %}?category=shower_jellies" aria-label="Shower Jellies">Shower Jellies</a>
        </li>

    </ul>
</div>
<!-- End of Lower Nav -->
