<!-- Lower Nav - Product Links -->
<div class="collapse navbar-collapse align-items-center" id="main-nav">
    <ul class="navbar-nav justify-content-center text-center w-100 mx-auto">

        <li class="nav-item m-1 my-lg-0">
            <a class="nav-link rounded-pill btn-bath-bombs" href="#">Bath Bombs</a>
        </li>

        <li class="nav-item m-1 my-lg-0">
            <a class="nav-link rounded-pill btn-soaps" href="#">Soaps</a>
        </li>

        <li class="nav-item m-1 my-lg-0">
            <a class="nav-link rounded-pill btn-shower-jellies" href="#">Shower Jellies</a>
        </li>

    </ul>
</div>
<!-- End of Lower Nav -->
