{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Log in to your Bubble Cwtch account.">
{% endblock %}

{% block inner_content %}

<!-- Page Title -->
<h1 class="text-center">{% trans "Sign In" %}</h1>


<!-- Social Acocunts Sign in Section -->
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

<!-- Intro text & link to signup -->
{% else %}
<p class="text-center">{% blocktrans %}If you haven't become a member yet, please:
<a href="{{ signup_url }}">sign up here</a>{% endblocktrans %}</p>
{% endif %}

<!-- Form -->
<form class="login text-center" method="POST" action="{% url 'account_login' %}">
  
  {% csrf_token %}

  <!-- Form Inputs -->
  {{ form.login|add_class:"mb-3 px-2 py-2 text-grey"|attr:"aria-label:Email or Username"|attr:"autocomplete:email" }}
  {% for error in form.login.errors  %}
    <span class="error-message">{{error}}</span>
  {% endfor %}

  {{ form.password|add_class:"mb-3 px-2 py-2 text-grey"|attr:"aria-label:Password"|attr:"autocomplete:current-password" }}
  {% for error in form.password.errors  %}
  <span class="error-message">{{error}}</span>
  {% endfor %}

  <div class="px-2 mb-2">
    <label class="form-check-label" for="id_remember">Remember me:</label>
    {{ form.remember|add_class:"form-check-input auth-form-check-input m-0 ms-2" }}
    {% for error in form.remember.errors  %}
      <span class="error-message d-block mb-1">{{error}}</span>
    {% endfor %}
  </div>

  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <span class="error-message d-block mb-1">{{error}}</span>
    {% endfor %}
  {% endif %}
  <div class="row mb-2">
    <div class="col-12 text-center mb-2">
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</div>
<div class="col-12 text-center mt-2">
  <button class="primaryAction btn-cta rounded-pill w-sm-50 py-2 px-4" type="submit">{% trans "Sign In" %}</button>
</div>
  </div>
</form>

{% endblock %}
