{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Reset your Bubble Cwtch account password.">
{% endblock %}

{% block inner_content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <!-- Form -->
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset text-center">
        {% csrf_token %}
        <!-- Form Inputs -->
        {{ form.email|add_class:"mb-3 px-2 py-2 text-grey"|attr:"aria-label:Email"|attr:"autocomplete:email" }}
        {% for error in form.email.errors  %}
            <span class="error-message d-block mb-1">{{error}}</span>
        {% endfor %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <span class="error-message d-block mb-1">{{error}}</span>
            {% endfor %}
        {% endif %}

        <div class="my-2 d-flex justify-content-center">
            <!-- Submit Button -->
            <button class="primaryAction btn-cta rounded-pill w-50 py-2 px-4" type="submit" value="{% trans 'Reset My Password' %}">{% trans "Submit" %}</button>
        </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
