{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Products{% endblock %}
{% block extra_meta %}
<meta name="description"
  content="Check out our range of products.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="min-height px-lg-5 px-md-4">
  <div
    class="container-fluid align-items-center justify-content-center justify-content-md-start">
    <div class="row g-0">
      <div
        class="col-12 text-center my-auto">
        <!-- Update Heading -->
        <hr>
        {% if current_category %}
        <!-- Display category name if a category is selected -->
        <h1 class="mt-2">All
          {{ current_category.friendly_name }}
        </h1>
        {% elif search_term %}
        <!-- Display search results if a search term is entered -->
        <h1 class="mt-2">All Search
          Results</h1>
        {% else %}
        <!-- Default title for all products -->
        <h1 class="mt-2">All Products
        </h1>
        {% endif %}
        <hr>
      </div>
    </div>
    {% if products %}
    <div
      class="row bg-orange px-2 pb-3 g-0">
      <!-- Sort-dropdown -->
      <div
        class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end mt-1 mt-md-3 mt-md-0 px-2 order-1">
        <div
          class="sort-select-wrapper">
          <label for="sort-selector"
            class="me-1">Sort products
            by:</label>
          <select id="sort-selector"
            class="custom-select custom-select-sm rounded-2 text-grey box-border-{% if current_sorting == 'None_None' %}deselected{% else %}selected{% endif %}"
            aria-label="Sort products - choose a sort type">
            <option value="reset"
              {% if current_sorting == 'None_None' %}selected{% endif %}>
              Sort by...</option>
            <option value="price_asc"
              {% if current_sorting == 'price_asc' %}selected{% endif %}>
              Price (low to high)
            </option>
            <option value="price_desc"
              {% if current_sorting == 'price_desc' %}selected{% endif %}>
              Price (high to low)
            </option>
            <option value="rating_asc"
              {% if current_sorting == 'rating_asc' %}selected{% endif %}>
              Rating (low to
              high)</option>
            <option value="rating_desc"
              {% if current_sorting == 'rating_desc' %}selected{% endif %}>
              Rating (high to
              low)</option>
            <option value="name_asc"
              {% if current_sorting == 'name_asc' %}selected{% endif %}>
              Name (A-Z)</option>
            <option value="name_desc"
              {% if current_sorting == 'name_desc' %}selected{% endif %}>
              Name (Z-A)</option>
            <option value="category_asc"
              {% if current_sorting == 'category_asc' %}selected{% endif %}>
              Category (A-Z)
            </option>
            <option
              value="category_desc"
              {% if current_sorting == 'category_desc' %}selected{% endif %}>
              Category
              (Z-A)</option>
          </select>
        </div>
      </div>
      <!-- Products link & No. of Products -->
      <div
        class="col-12 col-md-6 order-md-first d-flex align-items-end justify-content-center justify-content-md-start px-2 my-2 my-md-0">
        {% if search_term or current_category or current_sorting != 'None_None' %}
        <a href="{% url 'products' %}"
          class="">
          <p
            class="text-link mb-1 me-2">
            All Products </p>
        </a>
        <p class="mb-1 mt-sm-2 me-2">|
        </p>
        {% endif %}
        <p class="mb-1 mt-sm-2">
          {{ products|length }}
          Products{% if search_term %}
          found for
          <strong>"{{ search_term }}"</strong>{% endif %}
        </p>
      </div>
    </div>
    <div class="row g-0">
      {% for product in products %}
      <div
        class="col-sm-6 col-md-4  col-lg-3 px-2 py-3">
        <div
          class="card product-card h-100">
          <div class="bg-clear">
          </div>
          <div class="text-center">
            <!-- Product Image -->
            {% if product.image %}
            <a
              href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top product-img"
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
                onerror="this.onerror=null;this.src='{{ STATIC_URL }}media/cwtch_in_the_valley.png'">
            </a>
            {% else %}
            <a
              href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top product-img"
                src="{% static 'media/cwtch_in_the_valley.png' %}"
                alt="{{ product.name }}">
            </a>
            {% endif %}
          </div>
          <div
            class="card-body product-card-body rounded-2 
          {% if product.category.friendly_name == 'Bath Bombs' %} bg-purple 
          {% elif product.category.friendly_name == 'Soaps' %} bg-blue 
          {% elif product.category.friendly_name == 'Shower Jellies' %} bg-green {% endif %}">
            <h4
              class="product-title text-grey">
              {{ product.name }}</h4>
            <h5 class="text-grey">
              {{ product.category.friendly_name}}
            </h5>
            <p
              class="card-text text-grey">
              <strong>£{{ product.price }}</strong>
            </p>
            <!-- Add product edit and delete buttons in admin user-->
            {% if request.user.is_superuser %}
            <small
              class="my-2 d-flex justify-content-between">
              <a href="{% url 'edit_product' product.id %}"
                class="bg-white btn btn-sm btn-outline-cta text-link" aria-label="Edit product details">Edit</a>
              <a class="text-danger bg-white btn btn-sm btn-outline-cta error-message"
                href="{% url 'delete_product' product.id %}" aria-label="Delete product details">Delete</a>
            </small>
            {% endif %}
          </div>
          <!-- Contains add to bag button -->
          <div
            class="card-footer product-card-footer text-center">
            <form class="form"
              action="{% url 'add_to_bag' product.id %}"
              method="POST">
              {% csrf_token %}

              <!-- Quantity Input (set to 1) -->
              <input type="hidden"
                name="quantity"
                value="1">

              <!-- Hidden input to redirect user back to current page once added to bag -->
              <input type="hidden"
                name="redirect_url"
                value="{{ request.get_full_path }}">

              <!-- Add to Bag Button -->
              <button type="submit"
                class="btn btn-lg btn-cta rounded-pill text-grey">Add
                to bag</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <!-- No Search Results Message -->
      <div
        class="row g-0 justify-content-center">
        <div
          class="col-12 text-center my-4">
          <p>Oops! It looks like we
            couldn't find any products
            matching your search
            criteria.</p>
          <p>Explore our full range of
            delightful
            <a href="{% url 'products' %}"
              class="text-decoration-none text-link">
              products
            </a>
            .
          </p>
          <p>Let the hugs begin!</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Sort Dropdown JS -->
<script
  src="{% static 'products/js/sort_dropdown.js' %}">
</script>
{% endblock %}