<div class="toast custom-toast border rounded-0 border-top-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-grey d-flex justify-content-between align-items-center">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 close bg-white border-pink text-grey" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"><strong>&times;</strong></span>
        </button>
    </div>
    <div class="toast-body bg-white pt-0">
        <div class="row mb-2">
            <div class="col bg-orange py-2">
                {{ message }}
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="bg-white text-grey">Your Bag ({{ product_count }})</p>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            <div class="row align-items-center">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="w-100" src="{{ MEDIA_URL }}cwtch_in_the_valley.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <div class="d-flex justify-content-between">
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p> 
                        <p class="my-0 small text-muted">Total Price: £To Add</p>
                    </div>
                </div>
            </div>
            <hr class="text-pink mt-1 mb-1">
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <p class="mt-3 mb-1 text-grey">Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-end">£{{ total|floatformat:2 }}</span></p>
                </strong>
                {% if free_delivery_delta > 0 %}
                <p class="mb-0 p-2 bg-pink shadow-sm text-grey text-center">
                    Spend <strong>£{{ free_delivery_delta }}</strong> more to get free next day delivery!
                </p>

                {% else %}
                <p class="mb-0 p-2 bg-pink shadow-sm text-grey text-center">
                    <strong>Free Delivery</strong>
                </p>
                {% endif %}
                <a href="{% url 'view_bag' %}" class="btn w-100 mt-3 btn-outline-cta rounded-0">
                    <span class="text-grey">View Bag</span>
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>